/* ==========
 Universal Rules
 ========== */
:root{
    --bg-color: white;
    --primary-blue: rgb(0, 77, 168);
    --primary-green: rgb(149, 202, 89);
    --secondary-green: rgb(223, 240, 216);
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}


 /* ==========
navbar
 ========== */

/* ==========
 home
 ========== */
 .homepage-content{
  display: flex;
  flex-direction: column;
}
 /* ======= hero ======= */
.hero__wrapper{
  height: 70vh;
  background-image: url("./images/north-trees-campus.jpg");
}
.hero{
   height: 100%;
  background: linear-gradient(125deg, var(--primary-blue) 50%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
}
.hero__text{
  padding-inline-start: 5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.hero__text__heading{
  font-weight: 700;
  font-size: 4em;
  color: white;
  width: 13ch;
  text-shadow: 0 0 0.2em black;
}
.hero__text__subheading{
  font-weight: 400;
  font-size: 2em;
  color: white;
  width: 23ch;
  text-shadow: 0 0 0.2em black;
}
/* ======= projects preview ======= */
.portfolio-div{
  height: 70vh;
  background-color: var(--bg-color);
  background: linear-gradient(90deg, rgba(55,55,55,0) 0%, rgba(149,202,89,0) 18%, rgba(149,202,89,1) 69%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-div__flexcol{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding-inline-start: 5vw;
}
.portfolio-div__flexcol__heading{
  font-size: 3rem;
  font-weight: 700;
  width: 13ch;
}
.portfolio-div__flexcol__link{
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  
}
.portfolio-div__examples{
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  padding-inline-end: 2.5vw;
}
.portfolio-div__examples_entry{
  height: 70%;
  max-width: 700px;
}
.portfolio-div__examples__photo{
  height: 100%;
  max-height: 100%;
  filter: drop-shadow(0 0 0.2rem black);
}
.portfolio-div__examples_description{
  font-style: italic;
  text-align: end;
}
/* ======= student preview ======= */
.student-prev{
  height: 55vh;
  background-image: url("./images/Arts_and_Sciences.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 77, 168, 0.85);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.student-prev__gallery{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline-start: 5vw;
  gap: 1rem;
}
.student-thumbnail{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 20px;
}
.student-prev__gallery__link{
  font-weight: 600;
  color: white;
  font-size: 1.5rem;
}
.student-prev__quote{
  flex-basis: 30%;
  font-size: 3rem;
  color: white;
  font-weight: 600;
  max-width: 15ch;
}
.student-prev__gallery__grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  max-width: calc(640px + 7rem);
}

 /* ==========
 contact
 ========== */
@media (min-width: 900px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 900px) {
    #contact-page-map {
        margin-top: 5rem;
        width: 100% !important;
    }
}
.contact-button:active {
    transition: all 0.125s ease-in-out;
    background-color: rgb(209, 240, 196) !important;
}
.contact-button {
    cursor: pointer;
}
 /* ==========
 about
 ========== */

 /* ==========
 students
 ========== */

 /* ==== student component ==== */

 /* ==========
 portfolio
 ========== */

 /* ==== project component ==== */