@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==========
 Universal Rules
 ========== */
:root{
    --bg-color: white;
    --primary-blue: rgb(0, 77, 168);
    --primary-green: rgb(149, 202, 89);
    --secondary-green: rgb(223, 240, 216);
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
}

/* ==========
 Typography
 ========== */
 .banner>*>a{
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 1.25em;
  font-weight: 500;
}
 /* ==========
navbar
 ========== */

/* ==========
 home
 ========== */

 /* ==========
 contact
 ========== */
@media (min-width: 900px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 900px) {
    #contact-page-map {
        margin-top: 5rem;
        width: 100% !important;
    }
}
.contact-button:active {
    transition: all 0.125s ease-in-out;
    background-color: rgb(209, 240, 196) !important;
}
.contact-button {
    cursor: pointer;
}
 /* ==========
 about
 ========== */

 /* ==========
 students
 ========== */

 /* ==== student component ==== */

 /* ==========
 portfolio
 ========== */

 /* ==== project component ==== */