/* ==========
 Universal Rules
 ========== */
:root{
    --bg-color: white;
    --primary-blue: rgb(0, 77, 168);
    --primary-green: rgb(149, 202, 89);
    --secondary-green: rgb(223, 240, 216);
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body, html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}


 /* ==========
navbar
 ========== */

/* ==========
 home
 ========== */
.homepage-content,
.portfolio-div,
.student-prev,
.contact-div{
  max-width: 2200px;
  margin: 0 auto;
}


 .homepage-content{
  display: flex;
  flex-direction: column;
}
 /* ======= hero ======= */
.hero__wrapper{
  height: 70vh;
  background-image: url("./images/north-trees-campus.jpg");
}
.hero{
   height: 100%;
  background: linear-gradient(125deg, var(--primary-blue) 50%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
}
.hero__text{
  padding-inline-start: 5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.hero__text__heading{
  font-weight: 700;
  font-size: 4em;
  color: white;
  width: 13ch;
  text-shadow: 0 0 0.2em black;
}
.hero__text__subheading{
  font-weight: 400;
  font-size: 2em;
  color: white;
  width: 23ch;
  text-shadow: 0 0 0.2em black;
}
@media (max-width: 800px) {
  .hero__text__heading{
    font-size:3em;
  }
  .hero__text__subheading{
    font-size: 1.25rem;
  }
}
/* ======= projects preview ======= */
.portfolio-div{
  height: 70vh;
  background-color: var(--bg-color);
  background: linear-gradient(90deg, rgba(55,55,55,0) 0%, rgba(149,202,89,0) 18%, rgba(149,202,89,1) 69%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem;
}
.portfolio-div__flexcol{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding-inline-start: 5vw;
}
.portfolio-div__flexcol__heading{
  font-size: 3rem;
  font-weight: 700;
  width: 13ch;
}
.portfolio-div__flexcol__link{
  font-size: 1.5rem;
  font-weight: 600;
  color: #000; 
}
.portfolio-div__examples{
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  padding-inline-end: 2.5vw;
}
.portfolio-div__examples_entry{
  height: 70%;
  max-width: 700px;
}
.portfolio-div__examples__photo{
  height: auto;
  max-height: 100%;
  max-width: 100%;
  filter: drop-shadow(0 0 0.2rem black);
}
.portfolio-div__examples_description{
  font-style: italic;
  text-align: end;
}
@media (max-width: 1225px) {
  .portfolio-div__examples{
    padding-block-start: 2rem;
  }
}
@media (max-width: 800px) {
  .portfolio-div{
    flex-direction: column;
    height: fit-content;
    padding-block: 2.5rem;
    gap: 1rem;
    align-items: center;
  }
  .portfolio-div__flexcol__heading{
    width: 20ch;
  }
  .portfolio-div__examples{
    width: 100%;
    justify-content: space-around;
    padding-inline: 1.5rem;
  }
  .portfolio-div__examples__photo{
    max-height: 40vh;
  }
}
/* ======= student preview ======= */
.student-prev{
  height: 55vh;
  background-image: url("./images/Arts_and_Sciences.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 77, 168, 0.85);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.active-quarter {
  background-color: #95CA59;
  color: black;
}
.secondary-quarter {
  color: #A6A6A6;
}
.secondary-quarter:hover {
  transition: .125s all ease-in-out;
  color: black;
}
.student-prev__gallery{
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline-start: 5vw;
  gap: 1rem;
}
.student-thumbnail{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 20px;
}
.student-prev__gallery__link{
  font-weight: 600;
  color: white;
  font-size: 1.5rem;
}
.student-prev__quote{
  flex-basis: 30%;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  max-width: 20ch;
}
.student-prev__gallery__grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  max-width: calc(640px + 7rem);
}
@media (max-width: 1225px) {
  .student-prev{
    height: fit-content;
    padding-block: 5rem;
    gap: 1rem;
  }
  .student-prev__gallery__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .student-prev__quote{
    justify-self: center;
  }
  .student-prev__quote,
  .student-prev__gallery{
    flex-basis: 50%;
  }
}
@media (max-width: 800px) {
  .student-prev{
    flex-direction: column-reverse;
    padding-block: 2.5rem;
  }
  .student-prev__gallery {
    padding-inline-start: unset;
  }
  .student-prev__quote{
    font-size: 2rem;
    max-width: 20ch;
  }
}
/* ======= Main page contact ======= */
.contact-div{
  display: flex;
  min-height: fit-content;
  padding-block: 5rem;
  justify-content: space-around;
} 
.contact-div__contact-wrapper{
  max-height: 70%;
  width: 45%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contact-div__iframe{
  width: 35%;
  max-width: 600px;
}
.contact-div__p-title{
  font-weight: 700;
  font-size: 2rem;
  position: relative;
}
.contact-div__p-title::before{
  content: "Join the Program";
  font-size: .825rem;
  position: absolute;
  top: -1rem;
  color: grey;
  font-weight: 300;
}
@media (max-width: 920px) {
  .contact-div{
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .contact-div__contact-wrapper{
    width: 60%;
  }
  .contact-div__iframe{
    width: 50%;
  }
  
}
/* ==========
 contact
 ========== */
@media (min-width: 900px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .ps-sm-2 {
        padding-left: 2rem;
    }
    .ps-sm-5 {
        padding-left: 5rem;
    }
}
@media (max-width: 900px) {
    #contact-page-map {
        margin-top: 5rem;
        width: 100% !important;
    }
    .xs-center {
        text-align: center;
    }
    .flex-xs-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.contact-button:active {
    transition: all 0.125s ease-in-out;
    background-color: rgb(209, 240, 196) !important;
}
.contact-button {
    cursor: pointer;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
}
 /* ==========
 about
 ========== */

 /* ==========
 students
 ========== */
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.row {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
}
.students-flexcolumn{
  min-width: 200px;
  width: 80vw;
  max-width: 1900px;
  margin-inline: auto;
  padding-block-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-end: 2rem;
  margin-top: 10vh;
}
.sticky-div {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  z-index: 999;
}
.students-flexcolumn__h1{
  font-size: 3rem;
  font-weight: 700;
  width: 13ch;
  margin-bottom: 2rem;
}
.students-flexcolumn__student-flex-item{
  display: flex;
  flex-direction: row;
  min-height: 20vh;
  height: fit-content;
  gap: 2rem;
  margin-bottom: 2rem;
}
.students-flexcolumn__student-flex-item__img{
  width: 20vh;
  height: 20vh;
  aspect-ratio: 1;
  max-height: 20vh;
  object-fit: cover;
  border-radius: 20px;
}
.students-flexcolumn__student-flex-item__info-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-block-start: .5rem;
}
.st-fl__st-fl-i__in-div__links{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: .75rem;
}
.student-role{
  color: gray;
  font-style: italic;
}
@media (max-width: 900px) {
  .students-flexcolumn__student-flex-item{
    /* display: flex; */
    flex-direction: column;
    /* min-height: 20vh;
    height: fit-content;
    gap: 2rem; */
  }
}
 /* ==========
 portfolio
 ========== */

 /* ==== project component ==== */